*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color:white;
}

/* Header */

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  position:relative;
}

.logo{
  font-size:24px;
  font-weight:bold;
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hamburger */

.menu-toggle{
  display:flex;
  flex-direction:column;
  cursor:pointer;
  gap:5px;
}

.menu-toggle div{
  width:25px;
  height:3px;
  background:white;
  border-radius:5px;
}

/* Navigation */

nav{
  position:absolute;
  top:80px;
  right:8%;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius:15px;
  display:none;
  flex-direction:column;
  padding:20px;
  width:200px;
}

nav a{
  text-decoration:none;
  color:#cbd5e1;
  padding:10px 0;
  transition:0.3s;
}

nav a:hover{
  color:#ec4899;
}

nav.active{
  display:flex;
}

/* Hero */

.hero{
  text-align:center;
  padding:100px 10%;
}

.hero h1{
  font-size:30px;
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p{
  margin-top:20px;
  color:#cbd5e1;
}

.main-btn{
  margin-top:30px;
  padding:12px 35px;
  border:none;
  border-radius:30px;
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  color:white;
  font-weight:bold;
  cursor:pointer;
}
